<% if current_user %>
<%= link_to 'New Socket gem', new_socket_gem_path %>
<% end %>


<h1>GEMS</h1>
<table width="980" class="pretty">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Type</th>
    <th>Game text</th>
  </tr>

<% @socket_gems.each do |socket_gem| %>
  <tr class="<%= cycle("odd", "even") %>">	  
    <td><%= socket_gem.name %></td>
    <td><%= socket_gem.color %></td>
    <td><%= socket_gem.gem_type %></td>
    <td><%= socket_gem.game_text %></td>
  </tr>
<% end %>
</table>

<br />


