<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trait.name %>
</p>


<%= link_to 'Edit', edit_trait_path(@trait) %> |
<%= link_to 'Back', traits_path %> |
<%= link_to 'New', new_trait_path %>
