<h1>GEAR</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Card</th>
    <th>Item type</th>
    <th>Game text</th>
    <th>Rarity</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.card.name %></td>
    <td><%= item.item_type %></td>
    <td><%= item.game_text %></td>
    <td><%= item.rarity %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
