<p id="notice"><%= notice %></p>
<% if current_user %>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'New Item', new_item_path %>
<% end %>

<div id="item-body">
	<div id="item-image">
<%= image_tag(@item.card.image_main) %>
</div>
<div id="item-content">
<%= image_tag(@item.image_main, :align => "right") %>
<h1><%= @item.item_name %></h1>


<table>
<tr>
  <td align="right"><b>Type:</b></td>
  <td><%= @item.item_type %></td>
</tr>
<tr>
  <td align="right"><b>Game Text:</b></td>
  <td><%= @item.game_text %></td>
</tr>
<tr>
  <td align="right"><b>Lore Text:</b></td>
  <td><%= @item.lore_text %></td>
</tr>
<tr>
  <td align="right"><b>Rarity:</b></td>
  <td><%= @item.rarity %></td>
</tr>
</table>

</div>
</div>

