<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table width="980" class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "cost" %></th>
    <th><%= sortable "threshold", "Thr" %></th>
    <th><%= sortable "color" %></th>
    <th><%= sortable "card_type", "Type" %></th>
    <th><%= sortable "trait.trait_name", "Traits" %></th>
    <th><%= sortable "faction" %></th>
    <th><%= sortable "attack", "ATK" %></th>
    <th><%= sortable "defense", "DEF" %></th>
    <th><%= sortable "rarity" %></th>
  </tr>

  
<% for card in @cards %>
  <tr class="<%= cycle("odd", "even") %>">	  
    <td><%= link_to card.name, card %></td>
    <td><%= card.cost %></td>
    <td><%= card.threshold %></td>
    <td><%= card.color %></td>
    <td><%= card.card_type %></td>
    <td><%= card.trait.trait_name %></td>
    <td><%= card.faction %></td>
    <td><%= card.attack %></td>
    <td><%= card.defense %></td>
    <td><%= card.rarity %></td>
  </tr>
<% end %>
</table>
<%= @p %>
<%= @p2 %>
<%= will_paginate @cards %>