<h1>CARDS</h1>

<table width="980">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "cost" %></th>
    <th><%= sortable "threshold" %></th>
    <th><%= sortable "color" %></th>
    <th><%= sortable "card_type" %></th>
    <th>Trait</th>
    <th><%= sortable "faction" %></th>
    <th><%= sortable "attack" %></th>
    <th><%= sortable "defense" %></th>
    <th><%= sortable "rarity" %></th>
  </tr>

  
<% @cards.each do |card| %>
  <tr class="<%= cycle("odd", "even") %>">	  
    <td><%= link_to card.name, card %></td>
    <td><%= card.cost %></td>
    <td><%= card.threshold %></td>
    <td><%= card.color %></td>
    <td><%= card.card_type %></td>
    <td><%= card.trait.name %></td>
    <td><%= card.faction %></td>
    <td><%= card.attack %></td>
    <td><%= card.defense %></td>
    <td><%= card.rarity %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
