<h1>CARDS</h1>

<%= form_tag cards_path, :method => 'get', :id => "cards_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>

    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="cards"><%= render 'cards' %></div>
<% end %>



<br />

<%= link_to 'New Card', new_card_path %>
