<p id="notice"><%= notice %></p>
<div id="champion-body">
<div id="champion-image">	
<%= image_tag(@champion.image_main) %>
</div>
<div id="champion-content">
<h1><%= @champion.name %></h1>

<p>
  <b><%= @champion.power1_type.upcase %><br></b>
  <b>UNLOCKED AT LEVEL <%= @champion.power1_unlock %></b><br>
  <%= @champion.power1_game_text %>
</p>

<p>
  <b><%= @champion.power2_type.upcase %><br></b>
  <b>UNLOCKED AT LEVEL <%= @champion.power2_unlock %></b><br>
  <%= @champion.power2_game_text %>
</p>
<p>
  <b><%= @champion.power2_type.upcase %><br></b>
  <b>UNLOCKED AT LEVEL <%= @champion.power2_unlock %></b><br>
  <%= @champion.power3_game_text %>
</p>
<p>
  <b><%= @champion.power4_type.upcase %><br></b>
  <b>UNLOCKED AT LEVEL <%= @champion.power4_unlock %></b><br>
  <%= @champion.power4_game_text %>
</p>
</div>
</div>
<%= link_to 'Edit', edit_champion_path(@champion) %> |
<%= link_to 'Back', champions_path %>
