<!DOCTYPE html>
<html>
<head>
  <title>Hex</title>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header"><%= link_to 'HEXMMO.COM', '/', :class => 'headerlink' %> | <%= link_to 'CARDS', cards_path, :class => 'headerlink' %> | <%= link_to 'GEAR', items_path, :class => 'headerlink' %> | <%= link_to 'CHAMPIONS', champions_path, :class => 'headerlink' %> | <%= link_to 'GEMS', socket_gems_path, :class => 'headerlink' %> | <%= link_to 'LINKS', links_path, :class => 'headerlink'%></div>	
<br>	
<%= yield %>

<div id="footer">Legal stuff.</div>	
</body>
</html>
